<html>
<header>
    <style type="text/css">
     .product-image {
                height: 220px;
                 background-color:beige;
            }
     .img-container {
        text-align: center;
                margin-bottom:10;margin-top:-20;background-color:beige;
    </style>
</header>
<body>
  {% include "header.html" %}
  <h1 style="text-align: center; font-family: chronos serif; color: cadetblue; font-size: 50; margin-bottom: 35;">About Us</h1>
    <h2 class="img-container"><img src="/static/welcome.png" alt="aboutus" class="product-image" style="max-width:100%"></h2>
    
  {% include "footer.html" %}
</body>
</html>
