<html>
<header>
    <style type="text/css">
     .product-image {
                height: 220px;
                 background-color:beige;
            }
     .img-container {
        text-align: center;
                margin-bottom: 30;background-color:beige;
    </style>
</header>
<body>
  {% include "header.html" %}
    
  <h1 style="font-family: chronos serif;">Home</h1>
<h2 class="img-container"><img src="/static/home.png" alt="home" class="product-image" style="max-width:100%"></h2>
    
  {% include "footer.html" %}
</body>
</html>
